.searchedMovies {
    padding: 16px 20px;

    @media screen and (min-width: 744px) {
        padding: 24px 32px;
    }

    @media screen and (min-width: 1280px) {
        padding: 32px 40px;
    }
}

.moviesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 25px;
    column-gap: 20px;
}

.movieLink:hover,
.movieLink:focus,
.movieLink:active {
    color: rgb(161, 74, 243);
}