.navBar {
    width: 100%;
    padding: 20px;
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.navList {
    display: flex;
    gap: 40px;
}

.navLink {
    color: white;
    font-size: 16px;
    padding: 10px 20px;

    &:hover,
    &:focus {
        color: black;
        transition: 1.5ms ease-in-out;
    }
}
